
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="uk-ua" lang="uk-ua">
    <head>
        <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">        <base href="https://www.dance-lviv.com/rozklad-trenuvan.html" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Super User" />
	<meta name="generator" content="Joomla! - Open Source Content Management" />
	<title>Розклад</title>
	<link href="https://www.dance-lviv.com/ru/rozklad-trenuvan.html" rel="alternate" hreflang="ru-RU" />
	<link href="https://www.dance-lviv.com/rozklad-trenuvan.html" rel="alternate" hreflang="uk-UA" />
	<link href="/templates/theme3424/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
	<link href="/media/jui/css/chosen.css?d651c56c340d18e33bab10adfd186d23" rel="stylesheet" type="text/css" />
	<link href="/templates/theme3424/css/template.css" rel="stylesheet" type="text/css" />
	<link href="/templates/theme3424/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet" type="text/css" />
	<link href="/templates/theme3424/css/komento.css" rel="stylesheet" type="text/css" />
	<link href="/templates/theme3424/css/color_schemes/color_scheme_1.css" rel="stylesheet" type="text/css" id="color_scheme" />
	<link href="/modules/mod_contactus/css/contactus_lightbox.css" rel="stylesheet" type="text/css" />
	<link href="/media/mod_languages/css/template.css?d651c56c340d18e33bab10adfd186d23" rel="stylesheet" type="text/css" />
	<link href="/templates/theme3424/html/mod_icemegamenu/css/navbar.css" rel="stylesheet" type="text/css" />
	<script src="/media/jui/js/jquery.min.js?d651c56c340d18e33bab10adfd186d23" type="text/javascript"></script>
	<script src="/media/jui/js/jquery-noconflict.js?d651c56c340d18e33bab10adfd186d23" type="text/javascript"></script>
	<script src="/media/jui/js/jquery-migrate.min.js?d651c56c340d18e33bab10adfd186d23" type="text/javascript"></script>
	<script src="/plugins/system/bootstrap_3/assets/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/media/jui/js/chosen.jquery.min.js?d651c56c340d18e33bab10adfd186d23" type="text/javascript"></script>
	<script src="/templates/theme3424/js/scripts.js" type="text/javascript"></script>
	<script src="/modules/mod_contactus/js/contactus_common.js" type="text/javascript"></script>
	<script src="/modules/mod_contactus/js/contactus_lightbox.js" type="text/javascript"></script>
	<script src="/templates/theme3424/html/mod_icemegamenu/js/menu.js" type="text/javascript" defer="defer"></script>
	<script src="/templates/theme3424/html/mod_icemegamenu/js/jquery.rd-navbar.js" type="text/javascript" defer="defer"></script>
	<script type="text/javascript">
jQuery(document).ready(function($){
	jQuery('.hasTooltip').tooltip({"html": true});
if(window.MooTools) {

			  // Mootools conflict fix for toggle with Bootstrap 3/JQuery
			  window.addEvent('load', function() {
			    $$('[rel=tooltip],[data-toggle],a[data-toggle],button[data-toggle],[data-toggle=collapse],a[data-toggle=dropdown],.hasTooltip').each(function (e) {
			        e.getParent().hide = null;
			        e.hide = null;
			    });
			  });

			}
});
	jQuery(function ($) {
		initChosen();
		$("body").on("subform-row-add", initChosen);

		function initChosen(event, container)
		{
			container = container || document;
			$(container).find("select").chosen({"disable_search_threshold":10,"search_contains":true,"allow_single_deselect":true,"placeholder_text_multiple":"\u0412\u0432\u0435\u0434\u0456\u0442\u044c \u0430\u0431\u043e \u043e\u0431\u0435\u0440\u0456\u0442\u044c \u0434\u0435\u044f\u043a\u0456 \u043e\u043f\u0446\u0456\u0457","placeholder_text_single":"\u041e\u0431\u0435\u0440\u0456\u0442\u044c \u043f\u0430\u0440\u0430\u043c\u0435\u0442\u0440","no_results_text":"\u0420\u0435\u0437\u0443\u043b\u044c\u0442\u0430\u0442\u0438 \u043d\u0435 \u0437\u043d\u0430\u0439\u0434\u0435\u043d\u043e"});
		}
	});
	
var path = "templates/theme3424/js/";
(function($){$(document).ready(function(){var o=$("#back-top");$(window).scroll(function(){if($(this).scrollTop()>100){o.fadeIn()}else{o.fadeOut()}});var $scrollEl=($.browser.mozilla||$.browser.msie)?$("html"):$("body");o.find("a").click(function(){$scrollEl.animate({scrollTop:0},400);return false})})})(jQuery);
jQuery(function($){var e=$(window).width();$("#icemegamenu").find(".icesubMenu").each(function(a){var b=$(this).offset();var c=b.left+$(this).width();if(c>=e){$(this).addClass("ice_righttoleft")}});$(window).resize(function(){var d=$(window).width();$("#icemegamenu").find(".icesubMenu").removeClass("ice_righttoleft").each(function(a){var b=$(this).offset();var c=b.left+$(this).width();if(c>=d){$(this).addClass("ice_righttoleft")}})})});
	</script>
	<link href="https://www.dance-lviv.com/rozklad-trenuvan.html" rel="alternate" hreflang="x-default" />

     <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W2Q7FN9');</script>
<!-- End Google Tag Manager -->


    <body class="body__ option-com_content view-article task- itemid-285">
     <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W2Q7FN9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
                <!-- Body -->
        <div id="wrapper">
            <div class="wrapper-inner">
                <a id="fake" href='#'></a>

                <div class="header_content">
                        <!-- Top -->
                        <div id="top" class="stuck_position">
                    
            <div class="container">
        <div class="row">
    
            <nav class="moduletable home_menu  col-sm-9"><div class="module_container">
<div class="icemegamenu">
	<ul id="icemegamenu">
		<li id="iceMenu_101" class="iceMenuLiLevel_1 fullwidth">
			<a href="https://www.dance-lviv.com/" class=" iceMenuTitle ">
				<span class="icemega_title icemega_nosubtitle">Меню</span>
			</a>
		</li>
		<li id="iceMenu_134" class="iceMenuLiLevel_1 mzr-drop parent ">
			<a href="/dance.html" class=" iceMenuTitle ">
				<span class="icemega_title icemega_nosubtitle">Стилі</span>
			</a>
			<ul class="icesubMenu icemodules sub_level_1" style="width:330px">
				<li>
					<div style="float:left;width:330px" class="iceCols">
						<ul>
							<li id="iceMenu_633" class="iceMenuLiLevel_2 ">
								<a href="/dance/for-children.html" class=" iceMenuTitle ">
									<span class="icemega_title icemega_nosubtitle">Танці для дітей та підлітків</span>
								</a>
							</li>
							<li id="iceMenu_603" class="iceMenuLiLevel_2 ">
								<a href="/dance/dance-adult.html" class=" iceMenuTitle ">
									<span class="icemega_title icemega_nosubtitle">Танці для дорослих</span>
								</a>
							</li>
							<li id="iceMenu_605" class="iceMenuLiLevel_2 ">
								<a href="/dance/fitness.html" class=" iceMenuTitle ">
									<span class="icemega_title icemega_nosubtitle">Фітнес напрямки</span>
								</a>
							</li>
							<li id="iceMenu_818" class="iceMenuLiLevel_2 ">
								<a href="/dance/svyatkuvanny-dnya-narodgennya.html" class=" iceMenuTitle ">
									<span class="icemega_title icemega_nosubtitle">Святкування днів народжень</span>
								</a>
							</li>
							<li id="iceMenu_819" class="iceMenuLiLevel_2 ">
								<a href="/dance/summer-dance-tabir.html" class=" iceMenuTitle ">
									<span class="icemega_title icemega_nosubtitle">ЛІТНІЙ ТАНЦЮВАЛЬНИЙ ТАБІР</span>
								</a>
							</li>
							<li id="iceMenu_957" class="iceMenuLiLevel_2 ">
								<a href="/dance/pershyi-vesilnyi-tanets.html" class=" iceMenuTitle ">
									<span class="icemega_title icemega_nosubtitle">Перший весільний танець</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</li>
		<li id="iceMenu_623" class="iceMenuLiLevel_1 ">
			<a href="/studii-u-lvovi.html" class=" iceMenuTitle ">
				<span class="icemega_title icemega_nosubtitle">Зали</span>
			</a>
		</li>
		<li id="iceMenu_285" class="iceMenuLiLevel_1 mzr-drop parent current active ">
			<a href="/rozklad-trenuvan.html" class="icemega_active iceMenuTitle ">
				<span class="icemega_title icemega_nosubtitle">Розклад</span>
			</a>
			<ul class="icesubMenu icemodules sub_level_1" style="width:280px">
				<li>
					<div style="float:left;width:280px" class="iceCols">
						<ul>
							<li id="iceMenu_838" class="iceMenuLiLevel_2 ">
								<a href="/rozklad-trenuvan/rozklad-trenuvan-liubinska-vyhovskoho.html" class=" iceMenuTitle ">
									<span class="icemega_title icemega_nosubtitle">вул. Мисливська, 29</span>
								</a>
							</li>
							<li id="iceMenu_846" class="iceMenuLiLevel_2 ">
								<a href="/rozklad-trenuvan/rozklad-trenuvan-volodymyra-velykoho-2.html" class=" iceMenuTitle ">
									<span class="icemega_title icemega_nosubtitle">вул. В. Великого 2</span>
								</a>
							</li>
							<li id="iceMenu_882" class="iceMenuLiLevel_2 ">
								<a href="/rozklad-trenuvan/vul-lisna-50a.html" class=" iceMenuTitle ">
									<span class="icemega_title icemega_nosubtitle">вул. Лісна 50А</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</li>
		<li id="iceMenu_203" class="iceMenuLiLevel_1 gallery">
			<a href="/gallery.html" class=" iceMenuTitle ">
				<span class="icemega_title icemega_nosubtitle">Фото</span>
			</a>
		</li>
		<li id="iceMenu_336" class="iceMenuLiLevel_1 ">
			<a href="/price.html" class=" iceMenuTitle ">
				<span class="icemega_title icemega_nosubtitle">Ціни</span>
			</a>
		</li>
		<li id="iceMenu_142" class="iceMenuLiLevel_1 ">
			<a href="/contacts.html" class=" iceMenuTitle ">
				<span class="icemega_title icemega_nosubtitle">КОНТАКТИ</span>
			</a>
		</li>
	</ul>
</div></div></nav>

            <div id="logo" class="col-sm-3">
                <a href="https://www.dance-lviv.com/">
                                            <img src="/images/pant7sm.png" alt="Pantera dance studio / Школа танцю "Біла Пантера" Львів">
                                                        </a>
            </div>
            

            <div class="moduletable  "><div class="module_container"><div id="contactus-lightbox294" class="contactus-lightbox contactus-lightbox294">
	<div class="contactus-lightbox-caption" style="background-color:#3b8f0e;">
		<div class="contactus-lightbox-cap"><h4 class="text-center"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Замовити</span> <span class="item_title_part_1 item_title_part_even item_title_part_second_half item_title_part_last">дзвінок</span></h4></div><div class="contactus-lightbox-closer"><i id="contactus-lightbox-close294" class="fa fa-close fa-1x"></i></div>		
	</div>
	<div class="contactus-lightbox-body">
		<form  action="https://www.dance-lviv.com/rozklad-trenuvan.html" method="post" class="reg_form" id="contactusForm" onsubmit="contactus_validate(this);joomly_analytics(294);" enctype="multipart/form-data">
		<div>
											<div class="joomly-contactus-div">
									<p class="joomly-p field5294" data-id="5294">Ім'я</p>
								</div>						
														<div class="joomly-contactus-div">
									<input type="text" placeholder="*" class="contactus-fields field6294" data-id="6294" name="field6" required value="" />
								</div>
														<div class="joomly-contactus-div">
									<p class="joomly-p field7294" data-id="7294">Телефон</p>
								</div>						
														<div class="joomly-contactus-div">
									<input type="text" placeholder="*" class="contactus-fields field8294" data-id="8294" name="field8" required value="" />
								</div>
																
		</div>
		<div>
			<button type="submit" value="save" class=" contactus-button contactus-submit" style="background-color: #3b8f0e;" id="button-contactus-lightbox294" >Надіслати</button>
		</div>
			<input type="hidden" name="info" class="contactus-info" value="" />
			<input type="hidden" name="option" value="com_contactus" />
			<input type="hidden" name="layout" value="lightbox" />
			<input type="hidden" name="module_id" value="294" />	
			<input type="hidden" name="module_title" value="Замовити дзвінок" />	
			<input type="hidden" name="module_hash" value="78e16d15fde58d85293dd1a74d3db27e" />
			<input type="hidden" name="page" value="www.dance-lviv.com/rozklad-trenuvan.html" />
			<input type="hidden" name="ip" value="46.172.140.125" />
			<input type="hidden" name="task" value="add.save" />
			<input type="hidden" name="08d6dad04f2c4fc380824e93dcd9b44c" value="1" />		</form>
	</div>
</div>	
<div class="contactus-alert" id="contactus-sending-alert294">
	<div class="contactus-lightbox-caption" style="background-color:#3b8f0e;">
		<div class="contactus-lightbox-cap"><h4 class="contactus-lightbox-text-center"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">Дякуємо</span></h4></div><div class="contactus-lightbox-closer"><i id="contactus-lightbox-sending-alert-close294" class="fa fa-close fa-1x"></i></div>
	</div>
	<div class="contactus-alert-body">
		<p class="contactus-lightbox-text-center">Ми зателефонуємо Вам найближчим часом</p>
	</div>
</div>
<script type="text/javascript">
var dependencys = [];
set_dependencys(dependencys);
var contactus_module_id = 294,
files_added = "Files added";
type_field = "Field is required";
captcha_error = "That captcha was incorrect. Try again";
filesize_error = "File size limit is exceeded";
var uploads_counter = uploads_counter || [];
uploads_counter[contactus_module_id] = 0;
var contactus_params = contactus_params || [];
contactus_params[contactus_module_id] = {"form_max_width":"400"};
var popup = document.getElementById("contactus-lightbox" + contactus_module_id);
document.body.appendChild(popup);
contactus_lightbox();
</script></div></div><div class="moduletable  "><div class="module_container"><div class="mod-custom mod-custom__"  >
	<div class="contactus"><span style="color: #ffffff;">Замовити дзвінок</span></div></div></div></div><div class="moduletable  "><div class="module_container"><div class="mod-languages">

	<ul class="lang-inline" dir="ltr">
						<li>
			<a href="/ru/rozklad-trenuvan.html">
												<img src="/media/mod_languages/images/ru_ru.gif" alt="Русский" title="Русский" />										</a>
			</li>
											<li class="lang-active">
			<a href="https://www.dance-lviv.com/rozklad-trenuvan.html">
												<img src="/media/mod_languages/images/uk_ua.gif" alt="Українська" title="Українська" />										</a>
			</li>
				</ul>

</div>
</div></div>   

            
            </div>
    </div>
    </div>                        
                </div>

                <!-- breadcrumbs -->
    <div id="breadcrumbs"class="stuck_position"><div class="container">
        <div class="row"><div class="moduletable   col-sm-12"><div class="module_container">
<ul class="breadcrumb">
	<li><a href="/" class="pathway">Головна</a><span class="divider">&nbsp;|&nbsp;</span></li><li class="active"><span>Розклад</span></li></ul>
</div></div></div>
        </div></div>

                                <!-- Main Content row -->
                <div id="content">
                                        <div class="container">
                        <div class="row">
                                                <div class="content-inner">
                                <!-- Left sidebar -->
                                                                
                                <div id="component" class="col-sm-12">
                                    <main role="main">
                                                                                <div id="system-message-container">
	</div>

                                        <article class="page-item page-item__">
		<header class="item_header">
		<h2 class="item_title"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">Розклад</span></h2>	</header>
		<div class="item_fulltext"><h3><a href="/rozklad-trenuvan/rozklad-trenuvan-liubinska-vyhovskoho.html"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Розклад</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">тренувань</span> <span class="item_title_part_2 item_title_part_odd item_title_part_first_half">вул.</span> <span class="item_title_part_3 item_title_part_even item_title_part_second_half">Мисливська,</span> <span class="item_title_part_4 item_title_part_odd item_title_part_second_half item_title_part_last">29</span></a></h3>
<h3><a href="/rozklad-trenuvan/rozklad-trenuvan-volodymyra-velykoho-2.html"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Розклад</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">тренувань</span> <span class="item_title_part_2 item_title_part_odd item_title_part_first_half">В.</span> <span class="item_title_part_3 item_title_part_even item_title_part_second_half">Великого,</span> <span class="item_title_part_4 item_title_part_odd item_title_part_second_half item_title_part_last">2</span></a></h3>
<h3><a href="/rozklad-trenuvan/vul-lisna-50a.html"><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Розклад</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">тренувань</span> <span class="item_title_part_2 item_title_part_odd item_title_part_second_half">Лісна,</span> <span class="item_title_part_3 item_title_part_even item_title_part_second_half item_title_part_last">50А</span></a></h3></div>
		
	
	<!-- Social Sharing -->
	<div class="addthis_sharing_toolbox"></div><script type="text/javascript">
    var addthis_config =
{
   pubid: "ra-5497f2254123130b"
}
    </script><script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js"></script> 
	<!-- Pagination -->
	</article>
                                                                            </main>
                                </div>
                                                            </div>
                                                    </div>
                    </div>
                                            </div>
                            </div>
        </div>
        <div id="footer-wrapper">
            <div class="footer-wrapper-inner">
                                <!-- Copyright -->
                <div id="copyright" role="contentinfo">
                    <div class="container">                        <div class="row">
                            <div class="moduletable  "><div class="module_container"><div class="mod-custom mod-custom__"  >
	<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="1025130394176070"
  logged_in_greeting="Задати питання"
  logged_out_greeting="Задати питання">
 
</div>
</div></div></div><div class="moduletable bottom_menu1  col-sm-2"><div class="module_container"><header class='page_header'><h3 class="moduleTitle "><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">Menu</span></h3></header><div class="mod-menu">
	<ul class="menu ">
	<li class="item-577">
<a href="/" >Меню</a>
</li>
<li class="item-578">
<a href="/dance.html" >Інформація</a>
</li>
<li class="item-622">
<a href="/studii-u-lvovi.html" >Зали</a>
</li>
<li class="item-579 active">
<a href="/rozklad-trenuvan.html" >Розклад</a>
</li>
<li class="item-580">
<a href="/gallery.html" >Фото</a>
</li>
<li class="item-621">
<a href="/price.html" >Ціни</a>
</li>
<li class="item-581">
<a href="/contacts.html" >Контакти</a>
</li>
	</ul>
</div></div></div><div class="moduletable bottom_menu2  col-sm-2"><div class="module_container"><header class='page_header'><h3 class="moduleTitle "><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">Social</span></h3></header><div class="mod-menu">
	<ul class="menu ">
	<li class="item-582">
<a href="https://www.youtube.com/channel/UCVuXFFDvZHy2vMuKBS7mxJg" target="_blank" >YouTube</a>
</li>
<li class="item-583">
<a href="https://www.facebook.com/BilaPantera/" target="_blank" >Facebook</a>
</li>
<li class="item-584">
<a href="https://www.instagram.com/pantera_dance_studio/" target="_blank" >Instagram</a>
</li>
<li class="item-585">
<a href="https://plus.google.com/u/0/b/101089176857983391803/+Dance-lviv?pageId=101089176857983391803" target="_blank" >Google+</a>
</li>
	</ul>
</div></div></div><div class="moduletable bottom_address  col-sm-4 col-sm-offset-1"><div class="module_container"><header class='page_header'><h3 class="moduleTitle "><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">КОНТАКТИ</span></h3></header><div class="mod-article-single mod-article-single__bottom_address" id="module_215">
	<div class="item__module" id="item_140">
		
		<!-- Intro Text -->
		<div class="item_introtext">
			<h4><span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Студія</span> <span class="item_title_part_1 item_title_part_even item_title_part_first_half">Танцю</span> <span class="item_title_part_2 item_title_part_odd item_title_part_first_half">«Pantera</span> <span class="item_title_part_3 item_title_part_even item_title_part_second_half">Dance</span> <span class="item_title_part_4 item_title_part_odd item_title_part_second_half item_title_part_last">Studio»</span></h4>
<p><span style="color: #ffffff;">Філія # 1 </span> Львів, вул.Мисливська, 29<br /> (район вул. Любінська-Виговського-Патона) <br />Телефон:<a href="tel:+38 097 777 8767">+38 097 777 8767</a></p>
<p>&nbsp;</p>

<p><span style="color: #ffffff;">Філія # 2 </span> Львів, вул. В.Великого,2<br /> (Кут вул. Стрийська-В.Великого, біля DE Luxe night club)<br /> Телефон:<a href="tel:+38 097 777 8767">+38 097 777 8767</a></p>
<p>&nbsp;</p>
<p><span style="color: #ffffff;">Філія # 3 </span> Львів, вул.Лісна,50А<br /> (район Санта-Барбара, комплекс Санта-Нова)<br /> Телефон:<a href="tel:+38 097 777 8767">+38 097 777 8767</a></p>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43907741-1', 'auto');
  ga('send', 'pageview');

</script>		</div>	
				</div>
  </div></div></div>
                            <div class="copyright col-sm-3">
                                                                <!-- Footer Logo -->
                                <div>
                                <a class="footer_logo" href="/">
                                    <img src="/images/pant7sm.png" alt="Pantera dance studio / Школа танцю "Біла Пантера" Львів">
                                </a>
                                </div>
                                                                <span class="siteName">Pantera dance studio / Школа танцю "Біла Пантера" Львів</span>
                                <span class="copy">&copy; </span><span class="year">2019</span>                            </div>
                                                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="back-top">
        <a href="#"><span></span> </a>
    </div>        
                
    </body>
</html>