<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="uk-ua" lang="uk-ua">

<head>
	<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
	<base href="https://www.dance-lviv.com/" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="generator" content="Joomla! - Open Source Content Management" />
	<title>IFNTUOG dance studio / Школа танцю &quot;ІФНТУНГ денс&quot; Львів</title>
	<link href="/?format=feed&amp;type=rss" rel="alternate" type="application/rss+xml" title="RSS 2.0" />
	<link href="/?format=feed&amp;type=atom" rel="alternate" type="application/atom+xml" title="Atom 1.0" />
	<link href="/templates/theme3424/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
	<link href="/media/jui/css/chosen.css?d651c56c340d18e33bab10adfd186d23" rel="stylesheet" type="text/css" />
	<link href="/templates/theme3424/css/template.css" rel="stylesheet" type="text/css" />
	<link href="/templates/theme3424/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet"
	 type="text/css" />
	<link href="/templates/theme3424/css/komento.css" rel="stylesheet" type="text/css" />
	<link href="/templates/theme3424/css/color_schemes/color_scheme_1.css" rel="stylesheet" type="text/css" id="color_scheme"/>
	<link href="/modules/mod_contactus/css/contactus_lightbox.css" rel="stylesheet" type="text/css" />
	<link href="/media/mod_languages/css/template.css?d651c56c340d18e33bab10adfd186d23" rel="stylesheet" type="text/css" />
	<link href="/templates/theme3424/html/mod_icemegamenu/css/navbar.css" rel="stylesheet" type="text/css" />
	<script src="/media/jui/js/jquery.min.js?d651c56c340d18e33bab10adfd186d23" type="text/javascript"></script>
	<script src="/media/jui/js/jquery-noconflict.js?d651c56c340d18e33bab10adfd186d23" type="text/javascript"></script>
	<script src="/media/jui/js/jquery-migrate.min.js?d651c56c340d18e33bab10adfd186d23" type="text/javascript"></script>
	<script src="/plugins/system/bootstrap_3/assets/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/media/jui/js/chosen.jquery.min.js?d651c56c340d18e33bab10adfd186d23" type="text/javascript"></script>
	<script src="/templates/theme3424/js/scripts.js" type="text/javascript"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBF5M9kovWzDAwrVkbt6zRIKR4Fdzs_Fdk&language=uk" type="text/javascript"></script>
	<script src="/templates/theme3424/js/counters.js" type="text/javascript"></script>
	<script src="/modules/mod_contactus/js/contactus_common.js" type="text/javascript"></script>
	<script src="/modules/mod_contactus/js/contactus_lightbox.js" type="text/javascript"></script>
	<script src="/templates/theme3424/html/mod_icemegamenu/js/menu.js" type="text/javascript" defer="defer"></script>
	<script src="/templates/theme3424/html/mod_icemegamenu/js/jquery.rd-navbar.js" type="text/javascript" defer="defer"></script>




	<body class="body__home option-com_content view-featured task- itemid-101">

		<!-- Body -->
		<div id="wrapper">
			<div class="wrapper-inner">
				<a id="fake" href='#'></a>

				<div class="header_content">
					<!-- Top -->
					<div id="top" class="stuck_position">

						<div class="container">
							<div class="row">

								<nav class="moduletable home_menu  col-sm-9">
									<div class="module_container">
										<div class="icemegamenu">
											<ul id="icemegamenu">
												<li id="iceMenu_101" class="iceMenuLiLevel_1 current active fullwidth">
													<a href="http://localhost:3000/" class="icemega_active iceMenuTitle ">
														<span class="icemega_title icemega_nosubtitle">Викладачі</span>
													</a>
												</li>	
												<li id="iceMenu_623" class="iceMenuLiLevel_1 ">
													<a href="/studii-u-lvovi.html" class=" iceMenuTitle ">
														<span class="icemega_title icemega_nosubtitle">Зали</span>
													</a>
												</li>
												<li id="iceMenu_285" class="iceMenuLiLevel_1 mzr-drop parent ">
													<a href="/rozklad-trenuvan.html" class=" iceMenuTitle ">
														<span class="icemega_title icemega_nosubtitle">Розклад</span>
													</a>
													<ul class="icesubMenu icemodules sub_level_1" style="width:280px">
														<li>
															<div style="float:left;width:280px" class="iceCols">
																<ul>
																	<li id="iceMenu_838" class="iceMenuLiLevel_2 ">
																		<a href="/rozklad-trenuvan/rozklad-trenuvan-liubinska-vyhovskoho.html" class=" iceMenuTitle ">
																			<span class="icemega_title icemega_nosubtitle">вул. Мисливська, 29</span>
																		</a>
																	</li>
																	<li id="iceMenu_846" class="iceMenuLiLevel_2 ">
																		<a href="/rozklad-trenuvan/rozklad-trenuvan-volodymyra-velykoho-2.html" class=" iceMenuTitle ">
																			<span class="icemega_title icemega_nosubtitle">вул. В. Великого 2</span>
																		</a>
																	</li>
																	<li id="iceMenu_882" class="iceMenuLiLevel_2 ">
																		<a href="/rozklad-trenuvan/vul-lisna-50a.html" class=" iceMenuTitle ">
																			<span class="icemega_title icemega_nosubtitle">вул. Лісна 50А</span>
																		</a>
																	</li>
																</ul>
															</div>
														</li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
								</nav>



								<div class="moduletable  ">
									<div class="module_container">
										<div id="contactus-lightbox294" class="contactus-lightbox contactus-lightbox294">
											<div class="contactus-lightbox-caption" style="background-color:#3b8f0e;">
												<div class="contactus-lightbox-closer">
													<i id="contactus-lightbox-close294" class="fa fa-close fa-1x"></i>
												</div>
											</div>
											<div class="contactus-lightbox-body">
												<form action="https://www.dance-lviv.com/" method="post" class="reg_form" id="contactusForm" onsubmit="contactus_validate(this);joomly_analytics(294);"
												 enctype="multipart/form-data">
													<div>
														<div class="joomly-contactus-div">
															<p class="joomly-p field5294" data-id="5294">Імя</p>
														</div>
														<div class="joomly-contactus-div">
															<input type="text" placeholder="*" class="contactus-fields field6294" data-id="6294" name="field6" required value="" />
														</div>
														<div class="joomly-contactus-div">
															<p class="joomly-p field7294" data-id="7294">Телефон</p>
														</div>
														<div class="joomly-contactus-div">
															<input type="text" placeholder="*" class="contactus-fields field8294" data-id="8294" name="field8" required value="" />
														</div>

													</div>
													<div>
														<button type="submit" value="save" class=" contactus-button contactus-submit" style="background-color: #3b8f0e;" id="button-contactus-lightbox294">Надіслати</button>
													</div>
													<input type="hidden" name="info" class="contactus-info" value="" />
													<input type="hidden" name="option" value="com_contactus" />
													<input type="hidden" name="layout" value="lightbox" />
													<input type="hidden" name="module_id" value="294" />
													<input type="hidden" name="module_title" value="Замовити дзвінок" />
													<input type="hidden" name="module_hash" value="0cd62014b6df07cc447ca20d927dd01a" />
													<input type="hidden" name="page" value="www.dance-lviv.com/" />
													<input type="hidden" name="ip" value="46.172.140.125" />
													<input type="hidden" name="task" value="add.save" />
													<input type="hidden" name="08d6dad04f2c4fc380824e93dcd9b44c" value="1" /> </form>
											</div>
										</div>
										<div class="contactus-alert" id="contactus-sending-alert294">
											<div class="contactus-lightbox-caption" style="background-color:#3b8f0e;">
												<div class="contactus-lightbox-cap">
													<h4 class="contactus-lightbox-text-center">
														<span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first item_title_part_last">Дякуємо</span>
													</h4>
												</div>
												<div class="contactus-lightbox-closer">
													<i id="contactus-lightbox-sending-alert-close294" class="fa fa-close fa-1x"></i>
												</div>
											</div>
											<div class="contactus-alert-body">
												<p class="contactus-lightbox-text-center">Ми зателефонуємо Вам найближчим часом</p>
											</div>
										</div>
									</div>
								</div>


							</div>
						</div>
					</div>
					<!-- header -->
					<div id="header" class="stuck_position">
						<div class="container">
							<div class="row">
								<div class="moduletable common_interest  col-sm-6">
									<div class="module_container">
										<header class='page_header'>
											<h1 class="moduleTitle ">
												<span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">ІФНТУНГ</span>
												<span class="item_title_part_1 item_title_part_even item_title_part_first_half">танцювальна</span>
												<span class="item_title_part_2 item_title_part_odd item_title_part_second_half item_title_part_last">студія</span>
											</h1>
										</header>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				
				<!-- mainbottom -->
				<div id="mainbottom" class="stuck_position">
					<div class="container">
						<div class="row">
							<div class="moduletable people_say  col-sm-12">
								<div class="module_container">
									<header class='page_header'>
										<h1 class="moduleTitle ">
											<span class="item_title_part_0 item_title_part_odd item_title_part_first_half item_title_part_first">Наші</span>
											<span class="item_title_part_1 item_title_part_even item_title_part_first_half">прекрасні</span>
											<span class="item_title_part_3 item_title_part_even item_title_part_second_half item_title_part_last">викладачі</span>
										</h1>
									</header>
									<div class="mod-newsflash-adv mod-newsflash-adv__people_say cols-2" id="module_222">
										<div class="row">
											<article class="col-sm-6 item item_num0 item__module  " id="item_105">

												<div class="item_content">
													<!-- Intro Image -->
													<figure class="item_img img-intro img-intro__left">
														<img src="/images/testimonials/testimonials-6.jpg" alt="">
													</figure>
													<!-- Item title -->
													<!-- Introtext -->
													<div class="item_introtext">
														<blockquote>
															<cite>Мігель Галина</cite>
															<p>Випускниця 4 сезону Myway Dance Academy.&nbsp;</p>
														</blockquote>
													</div>


													<!-- Read More link -->
												</div>
												<div class="clearfix"></div>
											</article>
											<article class="col-sm-6 item item_num1 item__module  " id="item_104">

												<div class="item_content">
													<!-- Intro Image -->
													<figure class="item_img img-intro img-intro__left">
														<img src="/images/testimonials/testimonials-5.jpg" alt="">
													</figure>
													<!-- Item title -->
													<!-- Introtext -->
													<div class="item_introtext">
														<blockquote>
															<cite>Гуарана Анна</cite>
															<p>Педагог Myway Dance Academy.
															Хореограф-постановник на телепроектах: "Маша і моделі" (ТЕТ), "Навчи мене танцювати" ( "Сіті").</p>
														</blockquote>
													</div>


													<!-- Read More link -->
												</div>
												<div class="clearfix"></div>
											</article>
										</div>
										<div class="row">
											<article class="col-sm-6 item item_num2 item__module  " id="item_103">

												<div class="item_content">
													<!-- Intro Image -->
													<figure class="item_img img-intro img-intro__left">
														<img src="/images/testimonials/testimonials-4.jpg" alt="">
													</figure>
													<!-- Item title -->
													<!-- Introtext -->
													<div class="item_introtext">
														<blockquote>
															<cite>Коваль Константин</cite>
															<p>Учасник 20-ки кращих танцюристів на телешоу "Танцюють Всі-3".

															Хореограф-постановник безлічі кліпів та перфомансів, хореограф шоу "Танці з зірками".&nbsp</p>
														</blockquote>
													</div>


													<!-- Read More link -->
												</div>
												<div class="clearfix"></div>
											</article>
											<article class="col-sm-6 item item_num3 item__module  " id="item_50">

												<div class="item_content">
													<!-- Intro Image -->
													<figure class="item_img img-intro img-intro__left">
														<img src="/images/testimonials/testimonials-1.jpg" alt="">
													</figure>
													<!-- Item title -->
													<!-- Introtext -->
													<div class="item_introtext">
														<blockquote>
															<cite>Познанська Яна</cite>
															<p>Працює в напрямку: contemporaryСтудентка КНУКіМ, спеціальність "Сучасно-класична хореографія" .</p>
														</blockquote>
													</div>


													<!-- Read More link -->
												</div>
												<div class="clearfix"></div>
											</article>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="footer-wrapper">
			<div class="footer-wrapper-inner">
				<!-- Copyright -->
				<div id="copyright" role="contentinfo">
					<div class="container">
						<div class="row">
							<div class="moduletable  ">
								<div class="module_container">
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="back-top">
			<a href="#">
				<span></span>
			</a>
		</div>

	</body>

</html>